{% extends 'index.html.twig' %}




{% block page_content %}


<div class="card">
	<div class="card-header">

		<div class="row">
			<div class="col-8">
				<h3>Emissão Fiscal - PV</h3>
			</div>
		</div>

	</div>

	<div class="card-body">

		<div class="form-group row">
			<label class="col-form-label col-sm-2 form-control-label required" for="confeccao">PV</label>
			<div class="col-sm-8">
				<input type="number" id="pv" name="pv" class="form-control" min="1" step="1" pattern="\d*" autofocus="autofocus"></select>
			</div>

            {% if tudook %}
			<div class="col-sm-2 text-right">
				<button type="button" id="carregar" class="btn btn-secondary"
					onclick="window.location.assign('{{ url('fis_emissaofiscalpv_processarPV') }}' + '/' + $('#pv').val())">
					<i class="fas fa-sync" aria-hidden="true"></i> Carregar
				</button>
			</div>
            {% endif %}

		</div>

	</div>
</div>

    {{ include('Util/flashes.html.twig') }}


{% endblock %}


{% block down_scripts %}


<script>

$(document).ready(function() {

	$('#pv').keypress(function (e) {
	  if (e.which == 13) {
	    $('#carregar').click();
	    return false;    //<---- Add this line
	  }
	});
	
});

	

</script>

{% endblock %}