<div class="tab-pane fade" id="transporte" role="tabpanel" aria-labelledby="transporte-tab">
    <div class="form-group row">
        <label class="col-form-label col-sm-2 form-control-label">Modalidade Frete</label>
        <div class="col-sm-10">
            <input type="text" id="inputModalidadeFrete" disabled="disabled" class="form-control" value="">
        </div>
    </div>
</div>
