{% extends 'list.html.twig' %}


{% set titulo = 'Centros de Custo' %}
{% set route_form = 'fin_centroCusto_form' %}
{% set route_list = 'fin_centroCusto_list' %}
{% set route_list_ajax = 'fin_centroCusto_datatablesJsList' %}
{% set list_id = 'centroCustoList' %}

{% set campos_pesquisar %}

	<div class="form-group">
		<label for="p_descricao">Descrição</label>
		<input type="text"
			   class="form-control" id="filter[descricao]"
			   name="filter[descricao]"
			   value="{{ filter.descricao|default('') }}">
	</div>

{% endset %}


{% block down_scripts %}
	<script src="{{ asset('build/fin/centroCustoList.js') }}"></script>
{% endblock %}
