{% extends 'list.html.twig' %}


{% set titulo = 'Operadoras de Cartões' %}
{% set route_form = 'fin_operadoraCartao_form' %}
{% set route_list = 'fin_operadoraCartao_list' %}
{% set route_list_ajax = 'fin_operadoraCartao_datatablesJsList' %}
{% set list_id = 'operadoraCartaoList' %}

{% set campos_pesquisar %}

    <div class="form-group">
        <label for="p_descricao">Descrição</label>
        <input type="text"
               class="form-control" id="filter[descricao]"
               name="filter[descricao]"
               value="{{ filter.descricao|default('') }}">
    </div>


{% endset %}


{% block down_scripts %}
    <script src="{{ asset('build/fin/operadoraCartaoList.js') }}"></script>
{% endblock %}
