{% extends 'list.html.twig' %}


{% set titulo = 'Regras de Importação' %}
{% set route_form = 'fin_regraImportacaoLinha_form' %}
{% set route_list = 'fin_regraImportacaoLinha_list' %}
{% set route_list_ajax = 'fin_regraImportacaoLinha_datatablesJsList' %}
{% set list_id = 'regraImportacaoLinhaList' %}

{% set campos_pesquisar %}

	<div class="form-group">
		<label for="p_descricao">Regra</label>
		<input type="text"
			   class="form-control" id="filter[regraRegexJava]"
			   name="filter[regraRegexJava]"
			   value="{{ filter.regraRegexJava|default('') }}">
	</div>

{% endset %}


{% block down_scripts %}
	<script src="{{ asset('build/fin/regraImportacaoLinhaList.js') }}"></script>
{% endblock %}
