<div class="modal fade" id="confirmationModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<h4>Atenção!</h4>
				<p>Confirmar operação?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"
					id="btnConfirmationModalNo" data-dismiss="modal">
					<i class="fa fa-ban" aria-hidden="true"></i> Não
				</button>
				<button type="button" class="btn btn-danger"
					id="btnConfirmationModalYes" data-dismiss="modal">
					<i class="fa fa-trash" aria-hidden="true"></i> Sim
				</button>
			</div>
		</div>
	</div>
</div>
<script>
	$('#confirmationModal').on('show.bs.modal', function(e) {
		$('#btnConfirmationModalYes', this)
			.data('form', $(e.relatedTarget).data('form'))
			.data('url', $(e.relatedTarget).data('url'))
			.data('token', $(e.relatedTarget).data('token'));
	});
	//Bind click to OK button within popup
	$('#confirmationModal').on(
			'click',
			'#btnConfirmationModalYes',
			function(e) {
				if ($(this).data('url')) {
    				var url = $(this).data('url');
    				var token = $(this).data('token');
    				var form = $('<form></form>').attr("method", "post").attr(
    						"action", url);
    				form.append($('<input></input>').attr("type", "hidden").attr(
    						"name", "token").attr("value", token));
    				$(form).appendTo('body').submit();
				} else if ($(this).data('form')) {
					$("[name='" + $(this).data('form') + "']").submit();
				}

			});
</script>