<footer class="app-footer">
<span class="text-left">
<a href="https://coreui.io">CoreUI</a> © 2017 creativeLabs.
</span>
<span class="pull-right">
Powered by <a href="https://coreui.io">CoreUI</a>
</span>
</footer>