<div class="sidebar">
	<nav class="sidebar-nav">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" href="index.html">
					<i class="nav-icon icon-speedometer"></i>
					Dashboard <span class="badge badge-primary">NEW</span>
				</a>
			</li>


			<li class="nav-item nav-dropdown">
				<a class="nav-link nav-dropdown-toggle" href="#">
					<i class="nav-icon icon-puzzle"></i>
					Financeiro
				</a>
				<ul class="nav-dropdown-items">
					<li class="nav-title">Cadastros</li>
					<li class="nav-item">
						<a class="nav-link" href="base-breadcrumb.html">
							<i class="nav-icon icon-puzzle"></i>
							Carteiras
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="base-cards.html">
							<i class="nav-icon icon-puzzle"></i>
							Centros de Custo
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="base-cards.html">
							<i class="nav-icon icon-puzzle"></i>
							Modos de Movimentação
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="base-cards.html">
							<i class="nav-icon icon-puzzle"></i>
							Bandeiras de Cartões
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="base-cards.html">
							<i class="nav-icon icon-puzzle"></i>
							Operadoras de Cartões
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="base-cards.html">
							<i class="nav-icon icon-puzzle"></i>
							Categorias
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="base-cards.html">
							<i class="nav-icon icon-puzzle"></i>
							Bancos
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="base-cards.html">
							<i class="nav-icon icon-puzzle"></i>
							Grupos
						</a>
					</li>
					<li class="nav-title">-----</li>
					<li class="nav-item">
						<a class="nav-link" href="base-cards.html">
							<i class="nav-icon icon-puzzle"></i>
							Regras Importação
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="base-cards.html">
							<i class="nav-icon icon-puzzle"></i>
							Registros Conferência
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="base-cards.html">
							<i class="nav-icon icon-puzzle"></i>
							Importar Movimentações
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="base-cards.html">
							<i class="nav-icon icon-puzzle"></i>
							Contas a Pagar/Receber
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="base-cards.html">
							<i class="nav-icon icon-puzzle"></i>
							Extrato - Grupos de Movimentações
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="base-cards.html">
							<i class="nav-icon icon-puzzle"></i>
							Extratos - Movimentações
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="base-cards.html">
							<i class="nav-icon icon-puzzle"></i>
							Listagem - Movimentações
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="base-cards.html">
							<i class="nav-icon icon-puzzle"></i>
							Movimentações Recorrentes
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="base-cards.html">
							<i class="nav-icon icon-puzzle"></i>
							Caixa - Movimentações Diárias
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="base-cards.html">
							<i class="nav-icon icon-puzzle"></i>
							Conferência Financeiro
						</a>
					</li>					
				</ul>

			</li>


			<li class="nav-item nav-dropdown">
				<a class="nav-link nav-dropdown-toggle" href="#">
					<i class="nav-icon icon-puzzle"></i>
					CRM
				</a>
				<ul class="nav-dropdown-items">
					<li class="nav-title">Cadastros</li>
					<li class="nav-item">
						<a class="nav-link" href="base-breadcrumb.html">
							<i class="nav-icon icon-puzzle"></i>
							Cadastros
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="base-cards.html">
							<i class="nav-icon icon-puzzle"></i>
							Cards
						</a>
					</li>
				</ul>
			</li>

		</ul>
	</nav>
	<button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>